@import "tailwindcss";
.font-lexend {
  font-family: var(--font-lexend), sans-serif;
}

.font-unbounded {
  font-family: var(--font-unbounded), sans-serif;
}
.font-rubik{
  font-family: var(--font-rubik), sans-serif;
}


scrollbar-hide::-webkit-scrollbar {
  display: none; 
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;  
}